# API Configuration
REACT_APP_API_BASE_URL=https://app.unitedbit.com/api/v1/
REACT_APP_API_DEV_URL=https://dev-app.unitedbit.com/api/v1/
REACT_APP_MQTT_URL=wss://app.unitedbit.com:8443
REACT_APP_MQTT_DEV_URL=wss://dev-app.unitedbit.com:8443
REACT_APP_LANDING_URL=https://www.unitedbit.com
REACT_APP_MOBILE_URL=https://m.unitedbit.com
REACT_APP_MOBILE_DEV_URL=https://dev-m.unitedbit.com
REACT_APP_TRADINGVIEW_URL=https://app.unitedbit.com/tv/api/v1/

# Cookie Configuration
REACT_APP_COOKIE_DOMAIN=.unitedbit.com

# Feature Flags
REACT_APP_ENABLE_ANALYTICS=true
REACT_APP_ENABLE_LOGROCKET=false
